@font-face {
    font-family: 'Euclid';
    src: url('../../src/assets/fonts/EuclidCircularARegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid';
    src: url('../../src/assets/fonts/EuclidCircularASemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: medium;
  }
  @font-face {
    font-family: 'Euclid';
    src: url('../../src/assets/fonts/EuclidCircularASemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: semibold;
  }

  @font-face {
    font-family: 'Euclid';
    src: url('../../src/assets/fonts/EuclidCircularABold.ttf') format('ttf');
    font-weight: 700;
    font-style: bold;
  }
  
  