header {
  .nav-link {
    @apply text-gray-900 font-medium py-4 text-2xl;

    @screen lg {
      @apply px-6 py-0 text-base;
    }
  }

  .navbar {
    @apply relative top-0 transition-all duration-500;

    
    &.hide{
      @apply -top-20 ;
      margin-top: -120px;
    }
  }

  &.sticky {
    @apply  py-0;


    @screen lg {
      @apply  bg-transparent;
    }

  }

  &.shrink-header {
    .brand-logo {
      transition: all .3s ease-in-out;
      width: 90px !important;
      padding: 0;
      top: 0px;

      .py-6 {
        padding: 10px;
      }
    }

  
  }
}

.shrink-header {
  background: rgb(235, 238, 242,0.6);
backdrop-filter: blur(40px);
  border-bottom: 1px solid  #E2E8F0;
 
}

.side-nav {
  @apply  h-screen z-20 w-full relative top-0 transition-all duration-500  ;
  background:#fff;
  border-bottom: 1px solid  #E2E8F0;
  

  .nav-link {
    @apply  text-xl font-bold py-2;
    @screen md{
      @apply text-3xl py-4;
    }
  }
  &.hide{
   top: -200vh;
  }
}

